# Allow CORS (Cross-Origin Resource Sharing) for web fonts between domains (e.g. from GitHub to Roll20)
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>